.background {
  background: #121314;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/simonnorberg/klingar/master/cast/klingar_cast_logo_320x160.png);
}

.progressBar {
  background: #f7a703;
}

.watermark {
  background-image: url(https://raw.githubusercontent.com/simonnorberg/klingar/master/cast/klingar_cast_watermark_96x96.png);
  background-size: 96px 96px;
}
